Options +Indexes
RewriteEngine On 
#RewriteCond %{SERVER_PORT} 80 
#RewriteRule ^(.*)$ https://www.tabluu.com/$1 [R,L]
RewriteRule ^index.*$ index.php [L]
RewriteRule ^contact.*$ contact.php [L]
RewriteRule ^term.*$ terms.php [L]
RewriteRule ^privacy.*$ privacy.php [L]
RewriteRule ^pricing.*$ pricing.php [L]
RewriteRule ^temp-pricing.*$ temp-pricing.php [L]
RewriteRule ^lite_plan.*$ lite_plan.php [L]
RewriteRule ^affsupport.*$ affsupport.php [L]
RewriteRule ^photoshare.*$ photoshare.php [L]
RewriteRule ^subscription_agreement.*$ subscription_agreement.php [L]
RewriteRule ^tabluuContact.*$ tabluuContact.php [L]
#RewriteRule (.*).html$ business.php?nicename=$1 [L]
#RewriteRule ^([^/]+)/?.html$ business.php?nicename=$1 [L]
RewriteRule ^([^/]+)/?.html$ app/pinme.php?nicename=$1 [L]
RewriteRule (.*)=0$ http://www.tabluu.com/app/rateone.html?p=$1&s=0 [R=301,L]
RewriteRule (.*)=1$ http://www.tabluu.com/app/rateone.html?p=$1&s=1 [R=301]
RewriteRule (.*)=2$ http://www.tabluu.com/app/rateone.html?p=$1&s=2 [R=301]
RewriteRule (.*)=3$ http://www.tabluu.com/app/rateone.html?p=$1&s=3 [R=301]
RewriteRule (.*)=4$ http://www.tabluu.com/app/rateone.html?p=$1&s=4 [R=301]
RewriteRule (.*)=5$ http://www.tabluu.com/app/rateone.html?p=$1&s=5 [R=301]
RewriteRule (.*)=e$ http://www.tabluu.com/app/rateone.html?p=$1&s=e [R=301]